
<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="background-color:lavender;">
                <span style="font-size:50px">AVAZ</span>
                <span style="font-size:50px;color:red;float:right">{% block logout %}{% endblock %}</span>
            </div>
    </div>
{% block content %}{% endblock %}
   
</body>
</html>